@import url('https://fonts.googleapis.com/css?family=Open+Sans:700,400,300');
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

html, body {
   font-family: 'Open Sans', sans-serif;
   font-size: 14px;
}

h1 {
   color: rgb(37, 37, 37);
   font-size: 25px;
   font-weight: 300;
}